//Функции для работы с компонентнами
@use 'sass:math';
@import '../variables/resolutions';

@function rem($px) {
  @return math.div($px, 16) + rem;
}

// Брейк поинты mobile-first
@mixin mobile {
  @content;
}

@mixin tablet {
  @media (min-width: #{$mobileMax}) {
    @content;
  }
}

@mixin tabletBig {
  @media (min-width: #{$tabletMax}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tabletBigMax}) {
    @content;
  }
}

@mixin dissolveInWhite {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent 0%, #fff 50%);
  }
}
