@font-face {
  font-family: 'Gilroy';
  src: url('./../../assets/fonts/Gilroy-Regular-2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./../../assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./../../assets/fonts/Gilroy-Bold-2.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Gilroy', sans-serif;
}
